---
interface Props {
    title?: string;
    link?: string;
    primary?: boolean;
    newTab?: boolean;
}

const {title="Button", link="/", primary=true, newTab=true} = Astro.props;

---

<button type="button" class=`btn ${primary ? 'btn--primary' : 'btn--accent'}`>
    <a href={link} target=`${newTab ? '_blank' : '_self'}` rel="noopener noreferrer">
        {title}
    </a>
</button>

<style>
    .btn {
        color: black;
        background-color: white;
        border-radius: 17.5px;
        padding: 0.65em 2.75em;
        font-size: 0.75rem;
        letter-spacing: 0.5px;
        z-index: 1;
    }
    .btn--accent {
        background: none;
        border: 1px solid white;
        color: white;
    }
    .btn--accent:hover {
        background-color: rgba(var(--light-blue), 0.5);
        color: white;
    }
    .btn--primary {
        color: white;
        background-color: rgb(var(--light-blue));
        font-weight: 600;
        text-align: center;
        transition: all 0.2s ease;
    }
    .btn--primary:hover {
        background-color: rgba(var(--light-blue), 0.7);
    }
</style>