---
import { Icon } from 'astro-icon/components';
import Button from './Button.astro';

interface Props {
    icon?: string;
    name?: string;
    description?: string;
    btnInfo?: (string | boolean)[];
}

const {
    icon="react",
    name="React.js",
    description="A popular JavaScript library for building user interfaces, known for its component-based architecture and efficient rendering with a virtual DOM.",
    btnInfo=["Learn More", "https://react.dev/", true, true]
} = Astro.props as Props;
---

<a href={btnInfo[1] as string} target={btnInfo[2] ? "_blank" : "_self"} rel={btnInfo[2] ? "noopener noreferrer" : ""} class="card_techstack w-full max-w-[225px] h-[350px] flex flex-col items-stretch gap-8 py-7 px-6 rounded-[15px] border-t border-solid border-t-borderTopColor relative transition-all duration-200 ease-in-out hover:scale-105">
    <Icon class="icon z-10 text-4xl transition-all duration-200 ease-in hover:scale-120" name={`devicon:${icon}`} />
    <h4 class="text-xl font-semibold">{name}</h4>
    <p class="w-full text-base font-light text-left text-white/70 flex-1">{description.length > 100 ? description.slice(0, 97) + '...' : description}</p>
    <div class="absolute top-0 left-0 w-full h-full rounded-[15px] transition-all duration-300 ease-in-out bg-gradient-to-b from-[rgba(59,148,255,0.1)] to-transparent hover:from-[rgba(59,148,255,0.15)]"></div>
</a>