---

---

<div class="divider animate-pulse"></div>

<style>
    .divider {
        display: block;
        width: 95%;
        max-width: 1000px;
        margin: 7.75em auto;
        height: 3px;
        background: linear-gradient(90deg, rgba(59, 148, 255, 0) 0%, rgba(48, 120, 207, 1) 50%, rgba(59, 148, 255, 0) 100%);
    }

    @media (0px <= width <= 320px) {
        .divider {
            width: 80%;
            height: 1px;
        }
    }
    @media (321px <= width <= 375px) {
        .divider {
            width: 80%;
            height: 1px;
        }
    }
    @media (376px <= width <= 425px) {
        .divider {
            width: 85%;
            height: 2px;
        }
    }
    @media (426px <= width <= 768px) {
        .divider {
            width: 90%;
            height: 2px;
        }
    }
</style>