---
// Components
import Button from "./Button.astro"
import Divider from "./Divider.astro"
import TechFilterButton from "./TechFilterButton.astro"
---

<div class="filter_nav-container py-8">
    <nav class="filter_nav py-8 px-4 flex-col sm:flex-row">
        <ul class="links w-full grid gap-8 grid-cols-2 xsm:grid-cols-4 md:grid-cols-8">
            <TechFilterButton tech="html5" name="HTML5" />
            <TechFilterButton tech="react" name="React.js" />
            <TechFilterButton tech="nextjs" name="Next.js" />
            <TechFilterButton tech="astro" name="Astro" />
            <TechFilterButton tech="tailwindcss" name="Tailwind" />
            <TechFilterButton tech="javascript" name="Vanilla JS" />
            <TechFilterButton tech="supabase" name="Supabase" />
        </ul>
        <div class="dropdown w-full items-center justify-center justify-self-center sm:items-center sm:justify-end md:w-[30%]">
            <Button 
                title="View All"
                link=""
                primary
                newTab={false}
            />
        </div>
    </nav>
    <hr class="divider" />
</div>

<style>
    .filter_nav-container {
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .filter_nav {
            width: 100%;
            display: flex;
            gap: 3em;
            font-size: 1rem;
            & .links {
                width: 100%;
                & li {
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        text-decoration: underline;
                        opacity: 0.5;
                    }
                }
            }
            & .dropdown {
                display: flex;
            }
        }
        & > hr.divider {
            width: 100%;
            max-width: 1000px;
            height: 1px;
            padding: 0em 1.5em;
            border: none;
            background: rgba(var(--light-blue), 0.1);
        }
    }
</style>