---
interface Props {
    links?: string[];
    linksNames?: string[];
}

const {
    links=["", "Projects", "About"], 
    linksNames=["/", "projects", "about"]
} = Astro.props;

import Image from 'astro/components/Image.astro';
import Button from './Button.astro';
import { Icon } from 'astro-icon/components';

// Images
import KeaninCupidoLogo from '../../public/logo.svg';
---

<nav class="navbar">
    <div class="circle_image">
        <a href={'/'}>
            <Image 
                src={KeaninCupidoLogo}
                alt={"logo"}
                width={25}
                height={25}
            />
        </a>
    </div>
    <ul class="links">
        {
            links.map((link, key) => (
                <li class=`${Astro.url.pathname.split("/")[1] == link.toLowerCase() ? 'highlighted_page' : ''}`>
                    <a href={linksNames[key]}>
                        {link === "" ? "Home" : link}
                    </a>
                </li>
            ))
        }
    </ul>
    <div class="contact-button">
        <Button 
            title="Contact"
            link="/contact"
            primary
            newTab={false}
        />
    </div>

    <!-- ===== Mobile Menu =====-->
    <div class="mobile-menu">
        <button id="openBtn" type="button" class="btn-mobile-menu text-[2rem]">
            <Icon class="icon hover:opacity-60" name=`system-uicons:drag` />
        </button>
    </div>

    <nav class="mobile-menu-slide" id="mobile-menu-slide">
        <button id="closeBtn" type="button" class="btn-mobile-menu text-[3rem]">
            <Icon class="icon  hover:opacity-60" name=`system-uicons:close` />
        </button>
        <div class="mobile-links">
            <ul>
                <li>
                    <a data-name="mobile-link" id="mobile-link" href="/">Home</a>
                </li>
                <li>
                    <a data-name="mobile-link" id="mobile-link" href="/projects">Projects</a>
                </li>
                <li>
                    <a data-name="mobile-link" id="mobile-link" href="/about">About</a>
                </li>
                <li>
                    <a data-name="mobile-link" id="mobile-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</nav>

<style>
    .navbar {
        width: 100%;
        max-width: 1000px;
        max-height: 85px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        background-color: rgba(59, 148, 255, 0.015);
        box-shadow: inset -15px -20px 70px -22px rgba(59, 148, 255, 0.075);
        border-radius: 50px;
        padding: 1em 2.25em;
        position: relative;
        z-index: 100;

        /* Mobile */
        & .mobile-menu-slide {
            position: fixed;
            width: 100vw;
            height: 0%;
            background-color: rgb(0, 32, 72);
            padding: 0em;
            color: white;
            font-size: 3rem;
            overflow: hidden;
            top: 0;
            left: 0;
            z-index: 101;
            line-height: 1em;
            will-change: transform;
            transition: all 0.6s ease;
            padding-left: 42px;
            padding-right: 52px;
            letter-spacing: -0.04em;

            & .mobile-links {
                margin-top: 1em;
                & > ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 0.5em;
                }
                & #mobile-link {
                    font-size: 3rem;
                    font-weight: bold;
                }
            }

            & .btn-mobile-menu {
                position: relative;
                display: flex;
                width: 100%;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }

        & .circle_image {
            width: 100%;
            max-width: 53px;
            transition: all 0.2s ease;
            & > a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 1em;
            }
            &:hover {
                opacity: 0.5;
                transform: scale(0.99);
            }
        }
    }
    .navbar .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2.5em;
        font-size: 0.75rem;
        & li.highlighted_page {
            font-weight: 600;
            color: rgb(var(--light-blue-navbar));
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: all 0.2s ease;
            &:hover {
                opacity: 0.8;
            }
            &:not(.highlighted_page) {
                transition: all 0.2s ease;
                &:hover {
                    transform: translateY(-2px);
                    color: rgb(var(--very-light-blue));
                }
            }
            &:after {
                    content: "";
                    display: inline-block;
                    width: 50px;
                    height: 2px;
                    background: linear-gradient(90deg, rgba(100, 170, 255, 0) 0%, rgba(100, 170, 255, 0.8) 50%, rgba(100, 170, 255, 0) 100%);
                    position: absolute;
                    bottom: -0.563em;
            }
        }
    }
    /* ===== Mobile Menu ===== */
    .navbar {
        & .mobile-menu {
            display: none;
        }
    }

    /* ======================== Media Queries ======================== */

    /* <= 320px */
    @media (width <= 320px) {
        .navbar {
            width: 90%;
        }
        .navbar .links {
            display: none;
        }
        .navbar .contact-button {
            display: none;
        }
        /* ===== Mobile Menu ===== */
        .navbar {
            & .mobile-menu {
                display: block;
            }
        }
    }

    /* <= 375px */
    @media (width <= 375px) {
        .navbar {
            width: 90%;
        }
        .navbar .links {
            display: none;
        }
        .navbar .contact-button {
            display: none;
        }
        /* ===== Mobile Menu ===== */
        .navbar {
            & .mobile-menu {
                display: block;
            }
        }
    }

    /* <= 430px */
    @media (width <= 430px) {

    }

    /* === Tablet === */
    /* <= 768px */
    @media (width <= 768px) {
        .navbar {
            width: 90%;
        }
        .navbar .links {
            display: none;
        }
        .navbar .contact-button {
            display: none;
        }
        /* ===== Mobile Menu ===== */
        .navbar {
            & .mobile-menu {
                display: flex;
            }
        }
    }

    /* <= 1024px */
    @media (width <= 1024px) {
        .navbar {
            width: 90%;
        }
    }
</style>

<script>
    const openMobileBtn = document.getElementById('openBtn');
    const closeMobileBtn = document.getElementById('closeBtn');
    const mobileMenuSlide = document.getElementById('mobile-menu-slide');
    const mobileLinks = document.querySelectorAll(`[data-name="mobile-link"]`);
    
    mobileLinks.forEach(element => {
        element.addEventListener('click', () => closeMobile());
    });

    openMobileBtn?.addEventListener('click', () => openMobile());
    closeMobileBtn?.addEventListener('click', () => closeMobile());

    // Functions
    function openMobile() {
        mobileMenuSlide!.style.height = '100%';
        mobileMenuSlide!.style.paddingTop = '54px';
    }
    function closeMobile() {
        mobileMenuSlide!.style.height = '0%';
        mobileMenuSlide!.style.paddingTop = '0px';
    }
</script>