---
import { Icon } from "astro-icon/components";

interface Props {
    tech?: string;
    name?: string;
}
const { tech="react", name="React" } = Astro.props;

---

<button class="transition-opacity hover:opacity-80 flex flex-col items-center justify-center gap-[0.5em] min-w-[72px]">
    <div class="flex h-8 w-8 items-center justify-center rounded bg-[#4778b71a] text-white shadow-md">
        <div class="text-white react">
            <Icon name={`devicon:${tech}`} width={16} />
        </div>
    </div>
    <p class="text-sm">{name}</p>
</button>
