---
import Layout from '../layouts/Layout.astro';
import SectionLayout from '../layouts/SectionLayout.astro';
---

<Layout title="Keanin Cupido - About">
    <main class="main--about">
        <SectionLayout heading="About" subheading='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eleifend eget in vel tristique. Aenean urna, nulla massa mauris.'>

        </SectionLayout>
    </main>
</Layout>

<style>
	.main--about {
		width: 100%;
		max-width: 1000px;
		margin: 4.25em auto;
	}
</style>