---
import Image from 'astro/components/Image.astro';
import Layout from '../layouts/Layout.astro';
import SectionLayout from '../layouts/SectionLayout.astro';
import Divider from '../components/Divider.astro';
import AboutInfoBlockLayout from '../layouts/AboutInfoBlockLayout.astro';
import Button from '../components/Button.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Keanin Cupido - About">
    <main class="main--about">
        <SectionLayout 
			heading="About" 
			subheading="I'm a passionate web dev with a deep love for React and various frontend technologies. I thrive on creating dynamic, user-friendly web experiences, and I'm always exploring the latest tools and techniques to bring innovative ideas to life. Whether it's building responsive UI or optimizing performance, I’m committed to delivering top digital solutions that meet your needs."
		>
			<div class="image-container w-full h-[200px] bg-[rgb(var(--light-blue))] rounded-xl flex items-center justify-center opacity-85">
				<Image src={'/logo.svg'} alt={'Keanin Cupido'} width={175} height={175} />
			</div>

			<Divider />

			<AboutInfoBlockLayout 
				title=''
				subTitleA='My Story'
				subTextA='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non volutpat amet ultricies sit amet, consequat elit. Blandit sed mattis pulvinar non vitae consectetur donec. Eu.'

				subTitleB='My Journey'
				subTextB='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non volutpat amet ultricies sit amet, consequat elit. Blandit sed mattis pulvinar non vitae consectetur donec. Eu.'
			/>

			<Divider />

			<AboutInfoBlockLayout 
				title='My Past Experience'
				subTitleA='Google'
				subTextA='Lorem ipsum dolor sit amet, consectetur asul moler adipiscing elit. Eu gravida etiam.'
				subTitleB='VP of Design'
				subTextB='Jan 2022 — Present'
			>
				<Button title='View Website' newTab slot="subA"/>
				<ul class="list-disc text-gray-400 ml-4" slot="subB">
					<li class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat hac id diam volutpat quis tellus.</li>
					<li class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat hac id diam volutpat quis tellus.</li>
					<li class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat hac id diam volutpat quis tellus.</li>
				</ul>

				<AboutInfoBlockLayout
					title=' '
					subTitleA='Amazon'
					subTextA='Lorem ipsum dolor sit amet, consectetur asul moler adipiscing elit. Eu gravida etiam.'
					subTitleB='VP of Design'
					subTextB='Mar 2015 — Jan 2022'
				>
					<Button title='View Website' newTab slot="subA"/>
					<ul class="list-disc text-gray-400 ml-4" slot="subB">
						<li class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat hac id diam volutpat quis tellus.</li>
						<li class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat hac id diam volutpat quis tellus.</li>
						<li class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat hac id diam volutpat quis tellus.</li>
					</ul>
				</AboutInfoBlockLayout>
			</AboutInfoBlockLayout>

			<Divider />

			<AboutInfoBlockLayout
				title='My Skills'
				subTitleA=""
				subTextA=''
				subTitleB=''
				subTextB=''
			>
				<div class="w-full grid grid-cols-3 gap-8">
					<AboutInfoBlockLayout
						title=' '
						subTitleA="UI Design"
						subTextA='Vulputate mi sit amet mauris. Praesent tristique magna sit am purus gravida.'
						subTitleB=''
						subTextB=''
						subWidthA='100%'
					/>
					<AboutInfoBlockLayout
						title=' '
						subTitleA="UX Design"
						subTextA='Vulputate mi sit amet mauris. Praesent tristique magna sit am purus gravida.'
						subTitleB=''
						subTextB=''
						subWidthA='100%'
					/>
					<AboutInfoBlockLayout
						title=' '
						subTitleA="Product Design"
						subTextA='Vulputate mi sit amet mauris. Praesent tristique magna sit am purus gravida.'
						subTitleB=''
						subTextB=''
						subWidthA='100%'
					/>
					<AboutInfoBlockLayout
						title=' '
						subTitleA="User Research"
						subTextA='Vulputate mi sit amet mauris. Praesent tristique magna sit am purus gravida.'
						subTitleB=''
						subTextB=''
						subWidthA='100%'
					/>
					<AboutInfoBlockLayout
						title=' '
						subTitleA="Icon Design"
						subTextA='Vulputate mi sit amet mauris. Praesent tristique magna sit am purus gravida.'
						subTitleB=''
						subTextB=''
						subWidthA='100%'
					/>
					<AboutInfoBlockLayout
						title=' '
						subTitleA="Frontend Development"
						subTextA='Vulputate mi sit amet mauris. Praesent tristique magna sit am purus gravida.'
						subTitleB=''
						subTextB=''
						subWidthA='100%'
					/>
				</div>
			</AboutInfoBlockLayout>

			<Divider />

			<AboutInfoBlockLayout
				title='My Social Profiles'
				subTitleA=""
				subTextA=''
				subTitleB=''
				subTextB=''
			>
				<div class="w-full grid grid-cols-4 gap-8">
					<a href="/#" class="icon-container flex gap-2 items-center justify-start text-lg target='_blank' rel='noopener noreferrer' hover:opacity-70">
						<Icon name='mdi:facebook-box'/>
						<p>Facebook</p>
						<Icon name='mdi:arrow-top-right'/>
					</a>
					<a href="/#" class="icon-container flex gap-2 items-center justify-start text-lg target='_blank' rel='noopener noreferrer' hover:opacity-70">
						<Icon name='mdi:twitter-box'/>
						<p>Twitter/X</p>
						<Icon name='mdi:arrow-top-right'/>
					</a>
					<a href="/#" class="icon-container flex gap-2 items-center justify-start text-lg target='_blank' rel='noopener noreferrer' hover:opacity-70">
						<Icon name='mdi:linkedin-box'/>
						<p>LinkedIn</p>
						<Icon name='mdi:arrow-top-right'/>
					</a>
					<a href="/#" class="icon-container flex gap-2 items-center justify-start text-lg target='_blank' rel='noopener noreferrer' hover:opacity-70">
						<Icon name='mdi:instagram'/>
						<p>Instagram</p>
						<Icon name='mdi:arrow-top-right'/>
					</a>
					<a href="https://github.com/Keanin-Cupido" class="icon-container flex gap-2 items-center justify-start text-lg target='_blank' rel='noopener noreferrer' hover:opacity-70">
						<Icon name='mdi:github'/>
						<p>Github</p>
						<Icon name='mdi:arrow-top-right'/>
					</a>
					<a href="/#" class="icon-container flex gap-2 items-center justify-start text-lg target='_blank' rel='noopener noreferrer' hover:opacity-70">
						<Icon name='mdi:codepen'/>
						<p>Codepen</p>
						<Icon name='mdi:arrow-top-right'/>
					</a>
				</div>
			</AboutInfoBlockLayout>

        </SectionLayout>
    </main>
</Layout>

<style>
	.main--about {
		width: 100%;
		max-width: 1000px;
		margin: 4.25em auto;
	}
</style>