---
// imports
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<head>
    <ViewTransitions />

    <meta name="language" content="en">

    <meta charset="UTF-8" />

    <meta name="robots" content="index,follow">

    <meta name="description" content="Hey there! I’m Keanin, your go-to frontend wizard for turning creative ideas into captivating websites. Dive into my portfolio to see how I blend design and code into web magic that dazzles and delights. Let's build something awesome together!">

    <meta name="viewport" content="width=device-width" />

    <meta property="og:title" content="Keanin Cupido Web Portfolio">
    <meta property="og:description" content="An online web developer portfolio.">
    <!-- <meta property="og:image" content="URL to image"> -->
    <!-- <meta property="og:url" content="URL of your page"> -->
    <meta property="og:type" content="website">

    <meta name="author" content="Keanin Cupido">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <!-- Icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>