---
import Image from "astro/components/Image.astro";

interface Props {
	heading: string;
	subheading?: string
}

const {heading, subheading} = Astro.props;
---

<section>
	<h2>{heading}</h2>
	<p>{subheading}</p>
	<slot />
</section>

<style>	

</style>
